{% extends "base.html" %}
{% block title %}Add Dish{% endblock %}
{% block content %}
  <h2>➕ Add a New Dish</h2>
  <form method="post">
    {% csrf_token %}
    <label>Name</label>
    <input type="text" name="name" required>

    <label>Category</label>
    <input type="text" name="category" required>

    <label>Price</label>
    <input type="number" name="price" required>

    <label>Quantity</label>
    <input type="number" name="qty" required>

    <label>Available</label>
    <select name="is_available">
      <option value="True">Yes</option>
      <option value="False">No</option>
    </select>

    <button type="submit">Save Dish</button>
  </form>
{% endblock %}
